name: Build and Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Install dependencies
      run: dotnet restore
    # Debug and Release might be different due to conditional compilation, so validate both.
    - name: Build (Debug)
      run: dotnet build --configuration Debug --no-restore
    - name: Build (Release)
      run: dotnet build --configuration Release --no-restore
    - name: Test (Debug)
      run: dotnet test --configuration Debug --no-build --verbosity normal
    - name: Test (Release)
      run: dotnet test --configuration Release --no-build --verbosity normal
